.logo-container {
  width: 72px;
  height: 72px;
  margin-right: -25px;
}
.brand-container {
  width: 90px;
  margin-right: 40px;
}
.ccl-brand {
  color: white;
  font-size: 19px;
  font-weight: bold;
}
.ccl-logo {
  background-color: white;
  border-radius: 50%;
  height: 100%;
}
.content {
  padding: 20px 0;
  height: calc(100vh - 125px);
}
.header {
  position: relative;
  height: 80px;
  display: flex;
  padding: 0 20px;
  align-items: center;
  grid-gap: 50px;
  background-color: #0065b2;
}
#ccl-brand {
  margin: 0;
}
.logout-link {
  color: white !important;
  margin-left: auto;
}
.navbar {
  align-self: flex-end;
  display: flex;
  bottom: 0;
  align-items: center;
  height: 50%;
  color: white !important;
}
.navbar-links:link,
.navbar-links:visited {
  color: white;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: center;
  text-decoration: none;
}
.active-link {
  border-radius: 10px 10px 0 0;
  background-color: white;
  height: 55px;
  color: #0065b2 !important;
  text-decoration: none;
}
