
.dropzone-zone {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 664px;
    height: 376px;
    margin-left: 16%;
    margin-top: -20px;
    border-width: 2;
    border-radius: 2;
    border-color: #00A3FF;
    border-style: dashed;
    background-color: #E5E5E5;
    outline: none;
    transition: border .24s ease-in-out;
}
  
.dropzone-active {
    border-color: #2196f3;
}
  
.dropzone-accept {
    border-color: #00e676;
}
  
.dropzone-reject {
    border-color: #ff1744;
}

.dropzone-firstLine{
    font-weight: 600;
    margin-bottom: 0px;
    font-size: 25px;
}

.dropzone-secondLine{
    color:black;
    font-weight: 600;
    margin-bottom: -10px;
    font-size: 20px;
}

.fileSelector{
    background-color:#F7941E;
	border-radius:20px;
	border:1px solid #F7941E;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
    font-size:15px;
    font-weight: 530;
    color: white;
    padding:5px 25px;
    width: 220px;
    height: 40px;
}

.upload-icon{
    width: 100px;
    height: 100px;
    margin-top: 50px;
}