.content {
  padding: 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto 1fr;
}

.header {
  position: relative;
  height: 80px;
  display: flex;
  padding: 0 20px;
  align-items: center;
  grid-gap: 50px;
  background-color: lightgrey;
}
#ccl-brand {
  margin: 0;
}

.navbar {
  align-self: flex-end;
  display: flex;
  bottom: 0;
  align-items: center;
  height: 50%;
}
.navbar-links {
  padding: 0 20px;
}
.active {
  border-radius: 10px 10px 0 0;
  background-color: white;
}
