.sidebar {
  background-color: lightgrey;
  height: 100%;
  text-align: center;
  width: 250px;
  border-radius: 20px;
}
.sidebar-link {
  display: block;
  padding: 20px;
  color: dimgrey;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
.sidebar-link:hover {
  background-color: gainsboro;
  color: black;
}
