.template-file {
    width: 300px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    flex-direction: row;
}

.template-thumbnail {
    height: 400px;
    width: 300px;
    border: 1px solid #ACA6A6;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 150px;
    display: flex;
    position: relative;
}

.template-checkbox {
    position: absolute;
}

.template-thumbnail-img {
    width: 100%;
}

.template-title {
    margin-top: 4px;
    font-size: 17px;
    font-weight: bold;
    overflow-wrap: anywhere;
}

.template-copy-link, .template-copy-link:visited {
    color: #00A3FF;
    text-decoration: none;
}

.template-copy-icon {
    height: 16px;
    vertical-align: middle;
}

.template-copy-text {
    margin-left: 2px;
    vertical-align: middle;
    font-size: 17px;
}
.template-created{
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 16px;
}