.pdf-viewer {
  height: 100vh;
}
.waiver-screen-background {
  background-color: #c7d1d9;
  overflow: visible;
  padding-bottom: 20px;
}

.waiver-screen-title {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #0065b2;
  color: white;
  padding: 5px 0;
}

.waiver-screen-text {
  margin: 0;
  padding: 10px;
}
.waiver-submit-button {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background: #0065b2;
  font-size: 2vh;
  color: white;
  border: none;
  width: 80vw;
  max-width: 450px;
  height: 80px;
  outline: none;
  cursor: pointer;
}

.button-title {
  width: 450px;
}

@media screen and (min-width: 500px) {
  .waiver-screen-title {
    font-size: 30px;
  }
}
.pdfViewer {
  background-color: #c7d1d9 !important;
}
