.dropzone-zone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 600px;
  padding: 20px;
  padding-bottom: 30px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #00a3ff;
  border-style: dashed;
  background-color: #e5e5e5;
  outline: none;
  transition: border 0.24s ease-in-out;
}

.dropzone-active {
  border-color: #2196f3;
}

.dropzone-accept {
  border-color: #00e676;
}

.dropzone-reject {
  border-color: #ff1744;
}

.dropzone-firstLine {
  font-weight: 600;
  margin-bottom: 0px;
  font-size: 25px;
  text-align: center;
}

.dropzone-secondLine {
  color: black;
  font-weight: 600;
  margin-bottom: -10px;
  font-size: 20px;
  text-align: center;
}

.fileSelector {
  background-color: #f7941e;
  border-radius: 20px;
  border: 1px solid #f7941e;
  display: inline-block;
  cursor: pointer;
  font-family: Arial;
  font-size: 15px;
  font-weight: 530;
  color: white;
  padding: 5px 25px;
  width: 220px;
  height: 40px;
}

.upload-icon {
  width: 100px;
  height: 100px;
}
