.dropzone-zone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 600px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #00a3ff;
  border-style: dashed;
  background-color: #e5e5e5;
  outline: none;
  transition: border 0.24s ease-in-out;
}

.dropzone-active {
  border-color: #2196f3;
}

.dropzone-accept {
  border-color: #00e676;
}

.dropzone-reject {
  border-color: #ff1744;
}

.dropzone-firstLine {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0px;
  color: black;
  width: 100%;
  text-align: left;
  background-color: #f7941e;
}

.browse-btn {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0px;
  color: #0f68a8;
  background-color: #f7941e;
  border: none;
  outline: none;
  cursor: pointer;
}

.upload-icon {
  width: 100px;
  height: 100px;
}

.upload-table {
  text-align: left;
  width: 100%;
  border-collapse: collapse;
  background-color: #e5e5e5;
}

.upload-table thead {
  border-bottom: 2px black solid;
}

.upload-table th {
  padding: 15px;
  padding-right: 0;
  font-weight: 600;
}

.upload-table td {
  padding: 15px;
  padding-right: 0;
  font-weight: 400;
}

.remove-file-btn {
  font-weight: 600;
  border-color: transparent;
  background-color: transparent;
  color: #838282;
  font-size: 1rem;
  margin-top: -20px;
  cursor: pointer;
  outline: none;
}

.progress-bar {
  width: 100%;
  border-radius: 15px;
  background-color: lightgray;
  overflow: hidden;
}

.progress {
  width: 0%;
  height: 15px;
  background-color: #00aeef;
}
