.admin-dashboard {
  width: 75%;
  margin: 0 auto;
  height: 100%;
  padding: 20px 0;
}
.scrollable-div {
  border: 1px solid lightgray;
  overflow-y: overlay;
  max-height: 80%;
  width: 100%;
}
.scrollable-div::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
.scrollable-div::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(78, 73, 73, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
.waiver-table {
  text-align: left;
  width: 100%;
  border-collapse: collapse;
}
.table-checkbox {
  transform: scale(1.5);
}
.waiver-table td,
.waiver-table th {
  padding: 15px;
  padding-right: 0;
}
.waiver-table tr:nth-child(odd) {
  background-color: #f2f2f2;
}
.waiver-table tr:first-child {
  background-color: #cacfd3;
}
.waiver-form {
  color: #2685bf;
  text-decoration: underline;
}
.waiver-form:hover {
  cursor: grab;
}
.waiver-options {
  display: flex;
  flex-direction: row;
  grid-gap: 25px;
  margin: 20px 0;
  width: 100%;
  align-items: center;
}
.waiver-option {
  font-size: 1rem;
  cursor: pointer;
  padding: 10px 20px;
}
.waiver-option img {
  margin-right: 5px;
}
.waiver-edit-btn {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}
.waiver-notes-diplay {
  word-break: break-all;
}
.selected-text {
  outline: none;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  padding: 10px 20px;
}
.selected-checkbox {
  margin-right: 8px;
}
.selected-row {
  background-color: #b6e3f6 !important;
}
.ReactModal__Content--after-open {
  margin: auto;
  width: 700px;
}