.confirmation-modal {
  background-color: white;
  max-width: fit-content;
  display: block;
  margin: 0 auto;
}

.confirmation-modal-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0065b2;
  padding: 20px;
  color: white;
}

.confirmation-modal-text {
  margin: 0;
  padding: 40;
  align-self: center;
}
.confirmation-name {
  display: flex;
  grid-gap: 20px;
  width: 100%;
}

.confirmation-form {
  padding: 25px;
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
  align-items: center;
}

.confirmation-modal-submit-wrapper {
  display: flex;
  justify-content: center;
}
.text-entry {
  width: 100%;
}

.confirmation-input,
.confirmation-input-email {
  width: 95%;
  -webkit-appearance:none;
  padding: 5px 0;
  font-size: 0.9rem;
  margin-top: 5px;
  border: 1px solid black;
}
